@page
@model BirdTradingPlatformRazorPage.Pages.ShopRegisterModel
@{
    ViewData["Title"] = "Register";
}

@if (TempData["EmailError"] != null)
{
    <div class="alert alert-danger">
        @TempData["EmailError"]
    </div>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Register</h3>
                </div>
                <div class="card-body">
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @ViewData["ErrorMessage"]
                        </div>
                    }
                    <form method="post">
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" id="phoneNumber" name="PhoneNumber" class="form-control" required />
                            @if (ViewData["PhoneError"] != null)
                            {
                                <div class="alert-danger">@ViewData["PhoneError"]</div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="Password" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control" required />
                            @if (ViewData["PasswordError"] != null)
                            {
                                <div class="alert-danger">@ViewData["PasswordError"]</div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="fullName">Shop Name</label>
                            <input type="text" id="shopName" name="ShopName" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="avatarurl">Avatar Url</label>
                            <input type="text" id="avatarurl" name="AvatarUrl" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" id="address" name="Address" class="form-control" required />
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </form>
                </div>
                <div class="card-footer">
                    <p class="text-center">
                        Already have an account?
                        <a class="btn btn-primary" asp-page="/Login">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
